header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside; }
footer {grid-area: footer;}

body>* {text-align: center;vertical-align: middle;}

*{
    box-sizing: border-box;padding: 0;margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 250px auto auto 20px;
    grid-template-areas:
        ". header ."
        ". nav ."
        ". main ."
        ". footer .";
    grid-gap: 10px;
    padding: 10px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(255, 0, 0);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }